# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
.coverage.*

# Environment variables
.env

# Logs
logs/*.log

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db